<div class="lectures">
    <h2>Лекции этого года:</h2>
    <ul class="entity-list">
        {{#each .}}
            <li class="entity-list__item entity-list__item_m">
                <ul class="lecture-list__item_icons">
                    {{#if video}}
                        <li class="lecture-list__item_icons__item">
                            <i class="icon-video"></i>
                        </li>
                    {{/if}}
                    {{#if slides}}
                        <li class="lecture-list__item_icons__item">
                            <i class="icon-slides"></i>
                        </li>
                    {{/if}}
                </ul>
                <div class="lectures-list__item_title">
                    <a href="#!/lectures/{{id}}" title="{{title}}">{{title}}</a>
                </div>
                <div class="lectures-list__item_name">
                    <span class="caption">Лекцию читал{{#if lecturer.sex}}a{{/if}}&nbsp;&nbsp;</span>
                    <a href="#!/lecturers/{{lecturer.id}}" title="Посмотреть информацию про лектора">{{lecturer.firstName}} {{lecturer.lastName}}</a>
                </div>
                <div class="lectures-list__item-date">
                    <span class="caption">Лекцию проходила&nbsp;&nbsp;</span>
                    <span class="lectures-list__item_date">{{formatDate date}}</span>
                </div>

            </li>
        {{/each}}
    </ul>
</div>