<div class="student">
    <h2 class="header-title">Карточка студента</h2>
    <div class="student-card">
        <div class="student-card_info">
            <div class="student-card_name-wrapper">
                <span class="student-card_name">{{firstName}}&nbsp;{{lastName}}</span>
                <span class="caption">из города</span>
                <span class="student-card_city">{{city}}</span>
                <ul class="student-card_socials">
                    {{#each links}}
                        <li class="student-card_socials__item">
                            <a class="student-card_socials__item_link student-card_socials__item_link_{{@key}}"
                               title="{{@key}}" href="{{this}}">
                                <i class="icon-{{@key}}"></i>
                            </a>
                        </li>
                    {{/each}}
                </ul>
            </div>
            <div class="student-card_about">
                <div class="caption caption_v">О себе:</div>
                {{about}}

            </div>
            <div class="student-card_favourite-lectures">
                <img alt="{{firstName}} {{lastName}}" src="{{userpic}}" height="300">
            </div>
        </div>
        <div class="student-card_photo">

        </div>

    </div>
</div>